@{
    ViewBag.Title = "About";
}

<html>


<body style="background-color:seashell;">

    <style>

        h1 {
            color: blue;
            font-size: 200%;
        }
    </style>
    <h1>About Hotel Royal Place</h1>
    <p> <br></p>

    <p> Hotel Royal Palace is established in 1998 in Halifax. </p>
    <p> In a decade branches in all Canadian provinces and in</p>
    <p> 15 USA states have been opened due to it's popularity.</p>

    <p><br> </p>

  


    <p> Each hotel branch is governed by strict quality control</p>
    <p> and all of its hotels ensure the same custome satisfaction</p>
    <p> and a quality experience due to the following advantages:</p>



    <ul>
        <li>Convenient Locations in Tranquil Settings in the Historic Center</li>
        <li>TeaSpecial Character and Ambiance - Royal Charm</li>
        <li>Superb Hospitality and Service from a Friendly and Professional Staffs</li>
        <li>Fine Cuisine, Beverages and Amenities</li>
    </ul>



</body>
        </html >
