@{
    ViewBag.Title = "About";
}




<h1 style="font-family: 'Abril Fatface', cursive; padding-top: 10px">About Royal Hotel</h1>
<h3 style="font-family: 'Neuton', serif; padding-bottom: 20px">Our Story</h3>

<p> Hotel Royal Palace is established in 1998 in Halifax. It has brances all over Canada and USA</p>



<ul>
    <li>Convenient Locations in Tranquil Settings in the Historic Center</li>
    <li>TeaSpecial Character and Ambiance - Royal Charm</li>
    <li>Superb Hospitality and Service from a Friendly and Professional Staffs</li>
    <li>Fine Cuisine, Beverages and Amenities</li>
</ul>

